:root {
    --bgcolor : rgb(205 227 221);
    --shadowcolor : #c2c2c2;
    --boxcolor : rgb(255, 255, 255);
}
body {
    background-color: var(--bgcolor);
}
button {
    background-color: #4caf4f00;
    border: none;
}
.parent {
    display: flex;
    position: relative;
    margin: auto;
    width: 70%;
    min-height: 600px;
    background-color: var(--bgcolor);
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    /* counter  */
    counter-reset: section;
}
.header {
    background-color: white;
    width: 100%;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: var(--shadowcolor) 0px 0px 7px 1px;
    color: #006e2e;
}
.child {
    position: relative;
    margin: 20px auto;
}
.child::after {
    /* counter  */
    counter-increment: section;
    content: counter(section);
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #4caf50;
    color: white;
    margin: 3px calc((50% - 15px));
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.imagephoto {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--boxcolor);
    border-radius: 5px;
    justify-content: space-evenly;
    overflow: hidden;
    box-shadow: var(--shadowcolor) 0px 0px 7px 1px;
}
.word {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--boxcolor);
    border-radius: 5px;
    box-shadow: var(--shadowcolor) 0px 0px 7px 1px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
img {
    width: 150px;
    transition: all .5s;
}
img:hover {
    width: 210px;
    transform: translateX(-10px);
}
