:root {
    --bgcolor : rgb(205 227 221);
    --shadowcolor : #c2c2c2;
    --boxcolor : rgb(255, 255, 255);
}
body {
    background-color: var(--bgcolor);
}
.parent {
    display: flex;
    position: relative;
    margin: auto;
    width: 70%;
    min-height: 600px;
    background-color: var(--bgcolor);
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}
.child {
    position: relative;
    margin: 20px auto;
    background-color: #72f0bf;
    counter-increment: count;
}
.child::after {
    content: counter(count);
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #4caf50;
    color: white;
    margin: 3px calc((50% - 15px));
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.imagephoto {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--boxcolor);
    border-radius: 5px;
    justify-content: space-evenly;
    overflow: hidden;
    box-shadow: var(--shadowcolor) 0px 0px 7px 1px;
}
.word {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--boxcolor);
    border-radius: 5px;
    box-shadow: var(--shadowcolor) 0px 0px 7px 1px;
    margin-top: 10px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}
img {
    width: 150px;
}